$max_width_main = 776px
$max_width_logo = 1024px
$max_width_toc = 220px
$max_link_item = 16rem
$avatar_width = 96px
$avatar_height = 96px

$color_background = #f8f8f8
$color_card = #fff

$color_theme = convert(hexo-config('style.color.main_color')) || #eb5757
$color_title = #333
$color_primary = #000
$color_secondary = #808080

$color_codeblock = #eeeeee
$color_categories_block = #c2c2c2
$color_tags_block = #f4f4f4

$radius_main = convert(hexo-config('style.radius.main_radius')) || 5px
$radius_button = 5px

$space_main = convert(hexo-config('style.space.main_space')) || 3.5rem
$space_sm = convert(hexo-config('style.space.sm_space')) || 1.5rem
$header_height = 54px

$fontsize = 16px
$code_fontsize = 14px
$toc_fontsize = 14px
$lineheight = 1.8

$font_family = 'Lato','pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif
$font_family_logo = 'Noto Serif SC IMKERO Logo', 'Noto Serif SC', 'Microsoft Yahei', sans-serif
$font_family_title = 'Noto Serif SC IMKERO Subset', 'Noto Serif SC', 'Microsoft Yahei', sans-serif

$main_margin_top = 1.5rem
$cover_top_margin = 6rem
$cover_bottom_margin = 4.5rem
