<div class="post-entry__content">
    <a href="<%= url_for(post.link || post.path) %>" class="button post-entry__link">
        <h2 class="post-entry__title">
            <%= post.title || theme.meta.title %>
        </h2>
    </a>
</div>
<div class="post-entry__meta">
    <%- partial('_meta/date') %>
    <%- partial('_meta/category') %> 
</div>

