.archives-article-item__date
    margin-right: 8px

.archives-article-item__category-item
    margin-right: 4px
    color: $color_secondary

.archives-article-item__category-link
    color: $color_secondary !important
    &:hover
        border-color: $color_secondary !important
