@font-face {
  font-family: 'Noto Serif SC IMKERO Subset';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif SC'), url("../../" + revisioned("font/cover.woff2")) format("woff2"), url("../../" + revisioned("font/cover.woff")) format("woff"), url("../../" + revisioned("font/cover.ttf")) format("truetype");
  unicode-range: U+7535,U+8111,U+661F,U+4EBA,U+5206,U+7C7B,U+FF1A,U+7B14,U+8BB0,U+524D,U+7AEF,U+6742,U+8C08,U+53CB,U+60C5,U+94FE,U+63A5,U+5173,U+4E8E,U+5F52,U+6863,U+6587,U+7AE0,U+76EE,U+5F55;
}

@font-face {
  font-family: 'Noto Serif SC IMKERO Logo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif SC'), url("../../" + revisioned("font/logo.woff2")) format("woff2"), url("../../" + revisioned("font/logo.woff")) format("woff"), url("../../" + revisioned("font/logo.ttf")) format("truetype");
  unicode-range: U+7535,U+8111,U+661F,U+4EBA;
}
