.content-card
    background-color var(--bg-content-color)
    max-width var(--content-width)
    margin 0 auto
    transition background-color .6s
    padding var(--space)
    border-radius $radius_main
    border 1px solid #E5E8ED

    &>:first-child
        margin-top 0

    &>:last-child
        margin-bottom 0

.MathJax
    overflow-x auto
    overflow-y hidden

.separate-dot:after
    content '·'
    margin-left 8px
    margin-right 8px
