.cover
    display block
    text-align center
    margin $cover_top_margin auto ($cover_bottom_margin - $main_margin_top)

    .cover__logo
        max-width $max_width_logo
        margin-left auto
        margin-right auto
        font-family $font_family_title

    .cover__avatar
        border-radius 50%
        width $avatar_width
        height $avatar_height
        margin 0 auto 1rem auto
    
    .cover__intro
        color $color_secondary

        