.footer
    display block
    align-items center
    justify-content center
    padding 0 16px
    margin-top 4rem
    margin-bottom 2rem
    text-align center
    font-size 1em
    color $color_secondary

    *
        margin 0 auto
        margin-block-start 0em
        margin-block-end 0em
        margin-inline-start 0px
        margin-inline-end 0px

    >span
        margin 0 .35em

    a
        color var(--body-color)
        text-decoration none

    svg
        margin-right .2rem