.header
    display flex
    justify-content space-between
    align-items stretch
    min-height $header_height
    padding 0 calc(var(--space)/2)
    top 0
    z-index 10
    font-size 0

    background-color #3d485d

    .header__left,
    .header__right
        display flex
        align-items center

    .header__left
        .logo__text
            color #fff
            font-size 24px
            padding 16px 10px 16px 10px
            font-weight 400
            font-family $font_family_logo

    .header__right
        .navbar__menus
            height 100%
            padding 0 0 0 15px
            
            .navbar-menu
                font-size 16px
                padding 0 10px
                height 100%
                color #fff
                display inline-block
                position relative
                line-height 54px
                &:after
                    content ""
                    display block
                    position absolute
                    top 0
                    left 0
                    right 0
                    height 2px
                    background-color transparent

                &:hover:after
                    background-color #fff

        #btn-search
        #btn-toggle-dark
            padding 16px 10px 16px 10px

        #b2t
            display block
            width 3rem
            height 3rem
            position fixed
            z-index 1001
            right 1.2rem
            bottom 1.2rem
            border-radius $radius_button
            color var(--title-color)
            background var(--bg-content-color)
            box-shadow 0 .3rem .6rem rgba(48,55,66,.15);

            *
                margin 8px

        .dropdown-icon
            display none
            padding 16px 10px 16px 10px
            border 0 !important
            background-color transparent
            color #fff

            *
                width 20px
                height 20px
            
            &.active
                outline: none
                color $color_theme

            &.active + .dropdown-cancel + .dropdown-menus
                display flex

            &.active + .dropdown-cancel
                display block

        .dropdown-cancel
            display: none
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index 1000
            user-select: none
            -webkit-user-select: none

        .dropdown-menus
            animation slide-in 0.15s ease 1
            display none
            position absolute
            left 12px
            right 12px
            top $header_height + 12px
            z-index 9999
            border-radius 6px
            padding 24px
            background var(--bg-content-color)
            box-shadow 1px 1px 5px 0 rgba(0,0,0,.05),1px 1px 15px 0 rgba(0,0,0,.1)
            justify-items center
            justify-content center 
            flex-direction column

            .dropdown-menu
                padding 10px
                font-size 16px

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

if (hexo-config('navbar.sticky'))
    @media screen and (min-width: 1080px)
        .header
            position sticky

@media screen and (max-width: 764px)
    .navbar__menus
        display none !important
    
    .dropdown-icon
        display block !important

